{% extends 'layout.html' %} {% block content %}
<main id="main">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="set-filters">
  Filter Movies By: <br>
  <input type="radio" name="sort" id="movies" value="best" class="filter"> Movies
  <input type="radio" name="sort" id="genres" value="best" class="filter"> Genres
  <input type="radio" name="sort" id="actors" value="best" class="filter"> Actors
  <input type="radio" name="sort" id="directors" value="best" class="filter"> Directors

</div>
<div class="search">
  <input id="search-filter" class="search-bar" type="search" placeholder="Search Movies..." oninput="getFilter(this.value)">
  <!-- <script>function getFilter(value) {alert(value)}</script> -->
</div>

<div id="body-content">

</div>
</main>
{% endblock %}
